In [2]:
import pandas as pd

df_reaccion = pd.read_csv('Materiales/' + 'TiemposDeReaccion.csv')

In [4]:
df_reaccion[df_reaccion['Mano'] == 'Derecha'].describe()

       Nro Estudiante     Tiempo
count       20.000000  20.000000
mean        18.200000   0.790500
std         11.487293   0.354096
min          1.000000   0.010000
25%          9.500000   0.700000
50%         15.500000   0.800000
75%         26.500000   0.925000
max         40.000000   1.400000

In [5]:
df_reaccion[df_reaccion['Mano'] == 'Izquierda'].describe()

       Nro Estudiante     Tiempo
count       20.000000  20.000000
mean        22.800000   1.280010
std         11.723122   0.467439
min          2.000000   0.000200
25%         16.000000   1.100000
50%         23.500000   1.200000
75%         32.250000   1.425000
max         39.000000   2.200000

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

mu, sigma = 175, 6
data = np.random.normal(mu, sigma, 10000)

sns.histplot(data, bins=30, kde=True, stat='probability')
plt.xlabel('Height (Men)')
plt.ylabel('Probability')
plt.title("Distribution of Men's Height")
plt.xticks(range(155,200,5))
plt.show()